.content {
  display: flex;
  flex-direction: column;
}
.index-divider {
  height: 90px;
  background-color: $dark-blue;
  background-size: cover;
}

.index-about {
  background-color: #00c0fa;
  background-size: cover;
  @extend %padding-regular;
  background-size: $feature-image-size;
  display: block;
  width: 100%;
  padding: 2% 5%;
  p {
    color: #32fde1;
    color: #131A77;
    margin: 0 5px;
    text-align: justify;
  }
  div.about-link {
    text-align: center;
    a {
      text-align: center;
    }
  }
}

// Post listing
.posts {
  @extend %padding-header;
  .post-header {
    text-align: center;
  }
  .post-teaser {
    width: 46%;
    @media (max-width:768px) {
      width:100%;
    }
    margin:0 2% 1em;
    display: block;
    background-size: $feature-image-size;
    float:left;
    &:first-child {
      padding-top:0;
    }
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin: 1em 0;
  }
}

//Projects
.work {
  @extend %padding-regular;
  background-size: $feature-image-size;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10% 1em;
  h2 {
    font-size: 2.3em;
    margin: 0 0 .4em 0;
  }
  .project-container {
    padding: 0 .75em;
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    .image-container {
      margin: auto;
      max-width: 20em;
      display: inline-block;
    }
    .description {
      // margin: .4em 0 1em 0;
      // padding: auto .75em;
      margin: auto;
      max-width: 20em;
      display: inline-block;
      p {
        font-size: 1.1em;
      }
      .tagline {
        font-style: italic;
        text-align: center;
      }
    }
  }
}

// Index Contact Section
div.section-container {
  background-color: #00C0FA;
  margin: 0 10%;
  border: 10px solid $dark-blue;
  .button {
    background-color: #00EEFA;
    border: 2px solid $dark-blue;
    border-radius: 0;
    margin: 0 0 1em 0;
  }
}

.center {
  text-align: center;
}
