.content {
  display: flex;
  flex-direction: column;
}
.index-divider {
  height: 90px;
  background-color: $dark-blue;
  background-size: cover;
}

.index-about {
  background-color: #00c0fa;
  background-size: cover;
  @extend %padding-regular;
  background-size: $feature-image-size;
  display: block;
  width: 100%;
  padding: 2% 5%;
  p {
    color: #32fde1;
    color: #131A77;
    margin: 0 5px;
    text-align: justify;
  }
  div.about-link {
    text-align: center;
    a {
      text-align: center;
    }
  }
}

// Post listing
.posts {
  @extend %padding-header;
  .post-header {
    text-align: center;
  }
  .post-teaser {
    width: 46%;
    @media (max-width:768px) {
      width:100%;
    }
    margin:0 2% 1em;
    display: block;
    background-size: $feature-image-size;
    float:left;
    &:first-child {
      padding-top:0;
    }
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin: 1em 0;
  }
}

//Projects
.project-index {
  width:100%;
  .project-container {
    padding: 0 .75em;
    display: flex;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    .image-container {
      margin: auto;
      max-width: 20em;
      display: inline-block;
    }
    .description {
      // margin: .4em 0 1em 0;
      // padding: auto .75em;
      margin: auto;
      max-width: 20em;
      display: inline-block;
      p {
        font-size: .9em;
      }
    }
  }
}


.work {
  @extend %padding-regular;
  background-size: $feature-image-size;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  padding: 5% 1em;
  h2 {
    font-size: 2.3em;
    margin: 0 0 .4em 0;
  }
  .project {
    display: block;
    float: left;
    clear:both;
    width:100%;
    margin:0 auto;
    .project-description {
      width:100%;
      float:left;
      text-align: center;
      margin-bottom: 0;
      display: inline-block;
      @media (max-width: 768px) {
        width:99%;
      }
      a {
        strong {
          font-size:1.4em;
          margin-bottom:0.5em;
          font-weight:600;
        }
      }
      p a:hover {
        @extend %link-hover;
      }
    }
    .excerpt {
      margin-top: 1em;
    }
  }
}
// Index Contact Section
div.section-container {
  background-color: #00C0FA;
  margin: 0 10%;
  border: 10px solid $dark-blue;
  .button {
    background-color: #00EEFA;
    border: 2px solid $dark-blue;
    border-radius: 0;
    margin: 0 0 1em 0;
  }
}

// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
.center {
  text-align: center;
}
